# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/
src/.idea/

# BD sqlite
db.sqlite3
db.sqlite

###
src/teachadvisor/settings/local.py
src/teachadvisor/settings/production.py


